@font-face {
    font-family: "Boxing";
    src: url("../assets/fonts/Boxing-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ExconBold";
    src: url("../assets/fonts/Excon-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ExconMedium";
    src: url("../assets/fonts/Excon-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ExconRegular";
    src: url("../assets/fonts/Excon-Regular.otf");
    font-weight: normal;
    font-style: normal;
}