$focus: #20A9F3;
$hover: #373737;
$means-white: #FFFFFF;
$means-gray50: #808080;
$means-gray80: #CCCCCC;
$bg: #EEEFF0;
$means-black: #191919;
$means-red: #EF233C;
$means-red-shadow: #ef233b27;


$mid-screen: 1000px;